div.spreadsheet(tabIndex=1,
                data-columns=cols.length,
                data-rows=data.length,
                class=classes)
  input.formulaTooltip(style="visibility:hidden;" disabled=true)
  form.formula
    span.topleft 𝑓𝑥
    input.formula(disabled=true)
  table.table
    thead.thead
      tr.tr
        th.th
        - var c = 1
        for col in cols
          th.th(scope="col", class="c"+(c-1)) #{col}
          - c++
    tbody.tbody
      - var r = 1
      for row in data
        tr.tr
          th.th(scope="row", class="r"+(r-1)) #{r}
          - r++
          - var c = 1
          for cell in row
            td.td(title=cell.formula,
                  data-formula=cell.formula,
                  data-value=cell.value,
                  data-col=c-1, data-row=r-1,
                  class="c"+(c-1)+"r"+(r-1)+" "+cell.class) #{cell.value}
            - c++

  div.diagonal.diagonal-one
  div.diagonal.diagonal-two