p So you have downloaded some data from a statistics site? These are the first things that you do. (#[a(href="https://docs.google.com/spreadsheets/d/1I2rDd7IKsi2oSb1FRMBkaF_ODraySCUICOmbZ05u3PQ") Example])

h3.numbered Let your table start in cell A1
p Make sure to remove all headers, footers and comments. Your data sheet should contain only data, and it should start in cell #[code.cell A1], with the first column name. You want column names on row 1, and values in the remaining rows. Any footnotes or comments that you might need later can be dropped in a separate sheet in your workbook, or in a text document in the same folder.
:image(cleaning-up-start-in-a1-bad.png)
  Bad
:image(cleaning-up-start-in-a1-good.png)
  Good

h3.numbered Remove all aggreggates
p You do not want any rows with totals and sub totals in your data. Every row should represent the same thing. In a sheet containing municipality populations, each row should represent a municipality. Rows with county population do not &mdash; they belong in a different sheet and should be deleted.
:image(cleaning-up-no-aggreggates-bad.png)
  Bad. “Män” and “kvinnor” are both genders, but “totalt” is the sub-total of them both. Those rows do not belong here. 
:image(cleaning-up-no-aggreggates-good.png)
  Good

h3.numbered Fill out row labels 
p Sometimes only the first in a series of rows is labeled. We want to explicitly label reach and every row. You can achieve this with a clever little !{f("=IF()")} formula. This formula will check if column A is empty in the example pictured, and if so, take the value from the previous cell: !{f('=IF(A2="", D1, A2)')}. Finally autofill to the bottom.

:spreadsheet(1M1DtrOdmEIL_qlxkJSSTMpBW43hG-yi5LyjSUuSjyHY)
  Filling out empty cells of a column.

p If you want to sort, or otherwise reorder this sheet, you have to copy and #[em paste values] only to remove the formulas, as they will break when the row order changes.
if software == "Google Sheets"
  | Select the whole column by clicking the letter on top, then press !{key("Ctrl","C")} to copy and !{key("Shift","Ctrl", "V")} to paste only values.
if software == "LibreOffice/OpenOffice"
  | Select the whole column by clicking the letter on top, then press !{key("Ctrl","C")} to copy and !{key("Shift","Ctrl", "V")}, and uncheck the checkbox #{language=="Swedish" ? "“formler”" : "“formula”"} to paste only values.

h3.numbered Remove any merged cells
p Simply never use them.

if software == "Google Sheets"
  | Select all cells by !{key("Ctrl", "A")} and choose !{menu("Format", "Merge cells", "Unmerge")}. 

if software == "LibreOffice/OpenOffice"
  | Select all cells by !{key("Ctrl", "A")} and choose !{menu("Format", "Merge Cells", "Split Cells")}.
  if language == "Swedish"
    :image(cleaning-up-merged-cells-libre-(sv).png)
  else
    :image(cleaning-up-merged-cells-libre-(en).png)

if software == "Excel"
  :image(cleaning-up-merged-cells-excel-(sv).png, small)
  | Select all cells by !{key("Ctrl", "A")}, right click, chose !{menu("Format Cells")} and make sure that the box !{menu("Merge Cells")} is unticked.

h3.numbered Make sure numbers are numbers and text is text

p TBD

h3 Optionally add an index column

p Adding an extra column with a unique number for each row is convenient not only for undoing any sorting (in case the order of your rows matter), but having that extra column also provides an extra visual clue as to the sanity of your data. By sorting on the index column, it will be easier to spot missing rows or forgotten filters early.

if software == "LibreOffice/OpenOffice"
  :image(cleaning-up-index-column-libre.png, small)
  p Insert an extra, leftmost column, give it a name, add a “1” to cell #[code A2], and then autofill to the bottom.
else
  :image(cleaning-up-index-column.png, small)
  p Insert an extra, leftmost column, give it a name, add a “1” to cell #[code A2], a “2” to cell #[code A3], and then autofill to the bottom.

