p So you have downloaded some data from a statistics site? These are the first things that you do. (#[a(href="https://docs.google.com/spreadsheets/d/1I2rDd7IKsi2oSb1FRMBkaF_ODraySCUICOmbZ05u3PQ") Example])

h3.numbered Let your table start in cell A1
p Make sure to remove all headers, footers and comments. Your data sheet should contain only data, and it should start in cell #[x-cell A1], with the first column name. You want column names on row 1, and values in the remaining rows. Any footnotes or comments that you might need later can be dropped in a separate sheet in your workbook, or in a text document in the same folder.
:image(cleaning-up-start-in-a1-bad.png)
  Bad
:image(cleaning-up-start-in-a1-good.png)
  Good

h3.numbered Remove all aggreggates
p You do not want any rows with totals and sub totals in your data. Every row should represent the same thing. In a sheet containing municipality populations, each row should represent a municipality. Rows with county population do not &mdash; they belong in a different sheet and should be deleted.
:image(cleaning-up-no-aggreggates-bad.png)
  Bad. “Män” and “kvinnor” are both genders, but “totalt” is the sub-total of them both. Those rows do not belong here. 
:image(cleaning-up-no-aggreggates-good.png)
  Good

h3.numbered Fill out row labels 
p Sometimes only the first in a series of rows is labeled. We want to explicitly label reach and every row. You can achieve this with a clever little !{f("=IF()")} formula. This formula will check if column A is empty in the example pictured, and if so, take the value from the previous cell: !{f('=IF(A2="", D1, A2)')}. Finally autofill to the bottom.

:spreadsheet(1M1DtrOdmEIL_qlxkJSSTMpBW43hG-yi5LyjSUuSjyHY, highlight="D2,D3,D4,D5")
  Filling out empty cells of a column.

p If you want to sort, or otherwise reorder this sheet, you have to copy and #[em paste values] only to remove the formulas, as they will break when the row order changes.
if software == "Google Sheets"
  | Select the whole column by clicking the letter on top, then press !{key("Ctrl","C")} to copy and !{key("Shift","Ctrl", "V")} to paste only values.
if software == "LibreOffice/OpenOffice"
  | Select the whole column by clicking the letter on top, then press !{key("Ctrl","C")} to copy and !{key("Shift","Ctrl", "V")}, and uncheck the checkbox #{language=="Swedish" ? "“formler”" : "“formula”"} to paste only values.

h3.numbered Remove any merged cells
p Simply never use them.

if software == "Google Sheets"
  | Select all cells by !{key("Ctrl", "A")} and choose !{menu("Format", "Merge cells", "Unmerge")}. 

if software == "LibreOffice/OpenOffice"
  | Select all cells by !{key("Ctrl", "A")} and choose !{menu("Format", "Merge Cells", "Split Cells")}.
  if language == "Swedish"
    :image(cleaning-up-merged-cells-libre-(sv).png)
  else
    :image(cleaning-up-merged-cells-libre-(en).png)

if software == "Excel"
  :image(cleaning-up-merged-cells-excel-(sv).png, small)
  | Select all cells by !{key("Ctrl", "A")}, right click, chose !{menu("Format Cells")} and make sure that the box !{menu("Merge Cells")} is unticked.

h3.numbered Make sure numbers are numbers and text is text

p Any spreadsheet software, much lika a programming language, needs to know if a numeric value is supposed to be treated as a text string or a number. Otherwise it has no clue adding 1 and 1 together should equal 11 or 2 &ndash; both answers make sense, in different context. And computers are not very good at context.

p Most of your values will be either text or numbers, and you need to make sure that each column is of the right type. A numerical municipality code, for instance, is most likely something you want to store as text, not as a number. You are not going to make maths with it, and storing it as text makes sure that #{software} does not remove a leading zero, or does other funny stuff with it.

p By default numbers are right aligned, and text is left aligned. In the spreadsheet below, the municipality code i stored as text, and therefore left aligned, just like the municipality name. Population, on the other hand, is a number, and right aligned.
:spreadsheet(1_FU2CFocO7ARE3vZRHmxjEJADb57PeiBlxsAPkQI2rU)

if software == "Google Sheets"
  p To change the value type of a column, select the whole column and click !{menu("Format", "Number")}, and then select either !{menu("Plain text")} or !{menu("Number")}, as desired.

if software == "Excel"
  p To change the value type of a column, select the whole column and use the value types dropdown menu, where by default it says !{menu("General")} (with !{menu("General")}, Excel tries to guess how to best represent your data).

if software == "LibreOffice/Openoffice"
  p To change the value type of a column, select the whole column and click !{menu("Format", "Number format")}, and then select either !{menu("Text")} or !{menu("Number")}, as desired. If a format is not in that menu, you can find the full list of available formats under !{menu("Format", "Cells", "Number")}. You can also right click and select !{menu("Format Cells")}.

p Using only number and text formats is often enough. Unless you really need all the extra functionality of the date/time value types, stay with text. #[a(href="https://en.wikipedia.org/wiki/ISO_8601") Strings like] "2017-01-21" sort and compare well, so you can do quite a lot of calculations with them as they are. Storing dates as text also makes it easy to export you data, avoiding a few pitholes.

p If #{software} refuses to recognize you number as text, you will have to use a formula to convert it. There are many ways to represent a number textually (1102 could be written ”1,102”, ”1 102,00”, ”001102”, ”١١٠٢”, ”MCII”, etc), and because of this one-to-many relationship, you have you instruct your computer on exactly how you want it. The formula !{f('=TEXT()')} takes two argument: The number to convert to text, and the format you want the text in. In cell #[x-cell B2] and #[x-cell B3] below, the zero in !{f('=TEXT(A2,"0")')} tells #{software} to just output digits; no decimal part, no separators, or anything else. In cell #[x-cell B5] and #[x-cell B6] we've used four zeros to say that we want a four characters long string, adding leading zeros if needed.

:spreadsheet(1YYUJP0csnTENjcEUt14ULYH_7P0ftUDbAY-f30721yo, highlight="B2,B3,B5,B6")

h3 Optionally add an index column
p Adding an extra column with a unique number for each row is convenient not only for undoing any sorting (in case the order of your rows matter), but having that extra column also provides an extra visual clue as to the sanity of your data. By sorting on the index column, it will be easier to spot missing rows or forgotten filters early.

if software == "LibreOffice/OpenOffice"
  :image(cleaning-up-index-column-libre.png, small)
  p Insert an extra, leftmost column, give it a name, add a “1” to cell #[x-cell A2], and then autofill to the bottom.
else
  :image(cleaning-up-index-column.png, small)
  p Insert an extra, leftmost column, give it a name, add a “1” to cell #[x-cell A2], a “2” to cell #[x-cell A3], and then autofill to the bottom.

