extends layout

block head
  title The Ultimate Spreadsheet Guide

block content
  .settings.col-md-10.show.hidden-print

    nav#topbar.navbar.navbar-default.navbar-fixed-top.hidden-xs.js-only
      .container
          span.dropdown
            button(type="button", data-toggle="dropdown").btn.btn-primary.dropdown-toggle Chapters
              span.caret
            ul.dropdown-menu
              for slug, name in chapters
                li #[a(href="#"+slug) #{name}]
          form(style="display:inline-block;padding-left:1em;").form.form-inline
            .form-group
              select(name="software", id="software-top" data-pair="software").form-control
                each software in availableSoftwares
                  option(value=software, selected=activeSoftware == software) #{software}
            if activeSoftware != "Google Sheets"
              .form-group
                select(name="version", id="version-top" data-pair="version").form-control
                  each version in availableVersions
                    option(value=version, selected=activeVersion == version) #{version}
            .form-group
              select(name="os", id="os-top", data-pair="os", disabled=lockOS).form-control
                each os in availableOS
                  option(value=os, selected=activeOS == os) #{os}
            .form-group
              select(name="language", id="language-top", data-pair="language").form-control
                each language in availableLanguages
                  option(value=language, selected=activeLanguage == language) #{language}
            .form-group
              select(name="locale", id="locale-top", data-pair="locale").form-control
                each locale in availableLocales
                  option(value=locale, selected=activeLocale == locale) #{locale}

    form#menu(method='get', action="/").form
      .form-group
        label(for='software') Software
        select(name="software", id="software", data-pair="software-top").form-control
          each software in availableSoftwares
            option(value=software, selected=activeSoftware == software) #{software}
      if activeSoftware == "Google Sheets"
        - var disableVersion = true
      else
        - var disableVersion = false
      .form-group
        label(for='version') Version
        select(name="version", id="version", disabled=disableVersion, data-pair="version-top").form-control
          each version in availableVersions
            option(value=version, selected=activeVersion == version) #{version}
      .form-group
        label(for='os') OS
        select(name="os", id="os", disabled=lockOS, data-pair="os-top").form-control
          each os in availableOS
            option(value=os, selected=activeOS == os) #{os}
      .form-group
        label(for='language') Language
        select(name="language", id="language", data-pair="language-top").form-control
          each language in availableLanguages
            option(value=language, selected=activeLanguage == language) #{language}
        p The language of your software interface (e.g. menus)
      .form-group
        label(for='locale') Locale
        select(name="locale", id="locale", data-pair="locale-top").form-control
          each locale in availableLocales
            option(value=locale, selected=activeLocale == locale) #{locale}
        p The content language setting. Things like decimal separators depend on a combination of language and location, e.g. #[code sv-FI] for Swedish in Finland.
      .form-group
        input(type="submit", value="Update").js-hide

  article.col-md-10
    h1 The ultimate spreadsheet guide

    p.lead This guide is aimed towards journalists who use Excel or similar software to find news in data. It covers the most common tasks involved in cleaning up and analyzing spreadsheets, as well as some ‘best practices’. There will be errors and omissions. Please let us know as you find them, using the #[a(href="https://trello.com/b/Z4AlvcX2/j-the-ultimate-spreadsheet-guide") Trello board]! From #[a(href="http://jplusplus.se", title="Swedish site", rel="author") Journalism++ (sv)] | #[a(href="http://jplusplus.org", title="International site") (en)] with love!
    p This is a dynamic guide. Content will change as you select different combinations in the form above.

    h2 Table of contents
    ol.toc
      for slug, name in chapters
        li #[a(href="#"+slug) #{name}]

    for slug, name in chapters
      section(id=slug)
        a.pull-right.hidden-print(href="#menu") Back to top ↑
        h2 #{name}
        .body(data-slug=slug) !{chaptersContent[slug]}
