extends layout

block head
  title The Ultimate Spreadsheet Guide
  script.
    var _g_tusg_options = {
      language: "#{activeLanguage}",
      software: "#{activeSoftware}",
      version: "#{activeVersion}",
      os: "#{activeOS}",
      locale: "#{activeLocale}",
    };

block content
  h1 Test bed for spreadsheets
  article
    :spreadsheet(18w2ppKDSj5BkckAV78-Y0DXpoqSV_bLuJ4Ws_lRpMLk)
      Det här är en bildtext
    :spreadsheet(18w2ppKDSj5BkckAV78-Y0DXpoqSV_bLuJ4Ws_lRpMLk, bad)
      Det här är ett exempel på hur det inte ska se ut
